.row
  .col-md-3
  .col-md-6
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, required: true
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", required: true
      - if devise_mapping.rememberable?
        .form-check
          = f.check_box :remember_me, { class: "form-check-input" }
          = f.label :remember_me, { class: "form-check-label" }
      .actions
        = f.submit "Log in"
    = render "users/shared/links"
