%div.article_single
  %a{:href => object.link, :target => "_blank", :style => "font-size: 25px"}
    #{(object.title && object.title.length > 0) ? object.title : (object.link =~ URI::regexp ? URI(object.link).host : "#{object.link.slice(0, 10)}...")} #{fa_icon("external-link")}
  %p
    written by #{object.author}.
    %i{title: "#{object.created_at.to_s}"} added #{time_ago_in_words(object.created_at)} ago
    %a.pull-right{:href => "https://archive.is/#{object.link}", :target => "_blank", :style => "font-size: 19px"}
      ARCHIVES
  %blockquote.article-quote #{object.quote}
