.center
  %h3 Add an article right away!
  = form_tag article_index_path, method: :post do
    = text_field_tag "link", object['link'], { :placeholder => "Link to the article", :required => "required" }
    = text_field_tag "author", '', { :placeholder => "Name of the author / authors", :required => "required" }
    = text_field_tag "tags", '', { :placeholder => "Comma-separated tags" }
    = text_area_tag "quote", object['quote'], { :placeholder => "A selected paragraph from the article", :required => "required" }
    %input{ :type => "submit", :value => "Add article" }
