-# if feed_page is set, then the cutout's owner's username will be shown after the time of addition
- feed_page = feed_page || false

-# if user_page is set, then the edit cutout and delete cutout buttons will be shown
- user_page = user_page || false

%div.article_single{id: "article-id-#{object.id}"}

  %a{:href => object.link, :target => "_blank"}
    %span{:style => "font-size: 20px"}
      #{article_title object} #{fa_icon("external-link")}
  %span &nbsp; #{viz_icon object.visibility}

  %p{:style => "font-size: 16px"}
    - if object.author.length > 0
      written by #{object.author}.
    %i{title: "#{object.created_at.to_s}"}
      added #{time_ago_in_words(object.created_at)} ago
      - if feed_page
        - username = username_for_user_id(object.user_id)
        - if username.length > 0
          by
          %a{:href => "/#{username}", :target => "_blank"}
            @#{username}
    %a.pull-right{:href => "https://archive.is/#{object.link}", :target => "_blank"}
      ARCHIVES

  %p{:style => "font-size: 15px"}
    - object.tags_array.each do |tag|
      %a.btn.btn-primary{:href => "#{article_index_path}?input=tag:#{tag}"}= tag

    %span.pull-right
      #{link_to(fa_icon("link", class: "fa-2x"), article_path(object))} &nbsp;
      #{link_to(fa_icon("share-alt", class: "fa-2x"), "#{article_path(object)}/share")} &nbsp;

      - if user_page
        #{link_to(fa_icon("pencil", class: "fa-2x"), edit_article_path(object))} &nbsp;
        #{link_to(fa_icon("trash", class: "fa-2x"), article_path(object), method: :delete, data: { confirm: "Are you sure you want to delete that article?" } )}

  %blockquote.article-quote #{object.quote}
