%div.article_single
  %a{:href => object.link, :target => "_blank", :style => "font-size: 25px"}
    #{object.title || URI(object.link).host} #{fa_icon("external-link")}
  %p
    written by #{object.author}#{object.title ? (" on " + URI(object.link).host) : ""}
    %a.pull-right{:href => "https://archive.is/#{object.link}", :target => "_blank", :style => "font-size: 19px"}
      ARCHIVES
  %p
    - object.tags_array.each do |tag|
      %a.btn.btn-primary{:href => "#{article_index_path}?input=tag:#{tag}"}= tag
  %blockquote.article-quote #{object.quote}
