.row
  .col-md-3
  .center.col-md-6
    - if @article != { } and @article.errors.any?
      .errors
        %h3 Errors
        %p="#{pluralize(@article.errors.count, "error")} found in the article"
        %ol
          - for msg in @article.errors.full_messages
            %li=msg
    = form_tag(article_path(@article), method: :patch) do
      = text_field_tag("link", @article.link)
      = text_field_tag("author", @article.author)
      = text_field_tag("tags", @article.tags)
      = text_area_tag("quote", @article.quote)
      = text_field_tag("title", @article.title)
      = render 'article/visibility_chooser', viz: viz_int_val(@article.visibility)
      = submit_tag "Update article"
