.row
  .col-md-3
  .center.col-md-6
    - if @article != { } and @article.errors.any?
      .errors
        %h3 Errors
        %p="#{pluralize(@article.errors.count, "error")} found in the article"
        %ol
          - for msg in @article.errors.full_messages
            %li=msg
    = form_tag(article_path(@article), method: :patch) do
      = render 'article/entry_form_basics', prefill: @article
      = render 'article/visibility_chooser', viz: viz_int_val(@article.visibility)
      = submit_tag "Update article"
