.row
  .col-md-3
  .center.col-md-6
    = render 'shared/article_single_show', :object => @thisOne
    %h1 Share this Cutout!
    =form_tag("#{article_path(@thisOne)}/share", method: :post, class: "form") do
      = text_field_tag "emails", "", { :placeholder => "Please enter comma separated email IDs to share with here (maximum 5)", :required => true }
      = text_field_tag "share_as", "", { :placeholder => "The name that will be on the email. Default: #{current_user.username}" }
      = text_area_tag "comments", "", { :placeholder => "Add any comments you want to put in this email alongwith your cutout" }
      .form-group.row
        .form-check.form-check-inline.col-auto
          = check_box_tag "cc_myself", "", false, class: "form-check-input", id: "cc_myself"
          = label_tag "cc_myself", "cc myself", class: "form-check-label"
      = submit_tag "Share with these email IDs"
