%p= "#{@from_username} has shared a Cutout from #{URI(@article.link).host} with you"
%blockquote= @article.quote
%p= "written by #{@article.author}"
%a{:href => @article.link} See the complete article here!
