!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title Cutouts · File articles you love
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1.text-center Cutouts
    %h1 @#{current_user.username} #{link_to(fa_icon("gear"), edit_user_registration_path)} #{link_to("Logout", destroy_user_session_path, method: :delete, style: "float: right;")}

    %hr{:style => "border-color: grey;"}

    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield
