%h2
  Edit #{resource_name.to_s.humanize}

%h3 Export your data

%h4 Download human-readable Markdown file #{link_to(fa_icon("cloud-download", text: ".md", class: "fa-2x"), root_path, method: :post)} 
%h4 Download human-readable HTML file #{link_to(fa_icon("cloud-download", text: ".html", class: "fa-2x"), root_path, method: :post)} 
%h4 Download machine-readable JSON file #{link_to(fa_icon("cloud-download", text: ".json", class: "fa-2x"), root_path, method: :post)} 

- # TODO: put in the right path here for all the export options

%h3 Change your password
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
